{% extends 'customer/main.html' %}

{% load static %}

{% block content %}

    <div class="mt-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                {{ form.quantity }}
            </div>
            <div class="mb-3">
                <label for="adress" class="form-label">Address</label>
                {{ form.adress }}
            </div>
            <div class="mb-3">
                <label for="dateBorrow" class="form-label">Date of Borrow</label>
                {{ form.date_borrow }}
            </div>
            <div class="mb-3">
                <label for="dateReturn" class="form-label">Date of Return</label>
                {{ form.date_return }}
            </div>
            <div class="mb-3">
                <label for="book-image" class="form-label">User Photo</label>
                {{ form.user_image }}
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <button type="submit" class="btn btn-primary mt-4 mb-5 float-end">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}