{% extends 'customer/main.html' %}

{% load static %}

{% block content %}

    <div class="mt-5">
        <form>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="quantity" value="1" disabled>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea id="address" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="dateBorrow" class="form-label">Date of Borrow</label>
                <input type="date" class="form-control" id="dateBorrow">
            </div>
            <div class="mb-3">
                <label for="dateReturn" class="form-label">Date of Return</label>
                <input type="date" class="form-control" id="dateReturn">
            </div>
            <div class="mb-3">
                <label for="book-image" class="form-label">User Photo</label>
                <input type="file" class="form-control" id="book-image" placeholder="user-image">
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <button type="submit" class="btn btn-primary mt-4 mb-5 float-end">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}