{% extends 'customer/main.html' %}

{% load static %}

{% block content %}

    <div class="row justify-content-end mt-5">
        <div class="col-md-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="mt-5">
      <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">User Image</th>
                <th scope="col">Book Image</th>
                <th scope="col">Book</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Return Date</th>
              </tr>
            </thead>
            {% if histories %}
              {% for data in histories %}
              <tbody>
                <tr>
                  <td>{{ data.user.username }}</td>
                  <td><img src="{{ data.userImageUrl }}" alt="{{ data.user.username }}" style="width: 70px;"></td>
                  <td><img src="{{ data.book.imageUrl }}" alt="{{ data.book.title }}" style="width: 70px;"></td>
                  <td>{{ data.book.title }}</td>
                  <td>{{ data.date_borrow }}</td>
                  <td>{{ data.date_return }}</td>
                </tr>
              </tbody>
              {% endfor %}  
            {% endif %}
          </table>
        </div>
    </div>

{% endblock %}