{% extends 'customer/main.html' %}

{% load static %}

{% block content %}

    <div class="row justify-content-end mt-5">
        <div class="col-md-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        {% for book in books %}
        <div class="col-sm-3">
            <div class="card">
                <img src="{{ book.imageUrl }}" class="card-img-top" alt="book-image">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 15px; font-weight: bold;">{{ book.title }}</h5>
                    <p class="card-text" style="font-size: 14px;">Author: {{ book.author }}</p>
                    <p class="card-text" style="font-size: 14px;">Published By: {{ book.published_by }}</p>
                    <p class="card-text" style="font-size: 14px;">Quantity: {{ book.quantity }}</p>
                    <a href="{% url 'borrowing-form' %}" class="btn btn-primary">Borrow</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}