{% extends 'library_admin/main.html' %}

{% load static %}

{% block content %}

    <div class="mt-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th class="scope">Username</th>
                    <th class="scope">First Name</th>
                    <th class="scope">Last Name</th>
                    <th class="scope">Email</th>
                    <th class="scope">Role</th>
                    <th class="scope">Date Joined</th>
                    <th class="scope">Action</th>
                </thead>
                {% for user in users %}
                    {% if user.is_superuser == False %}
                        <tbody>
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.date_joined }}</td>
                                <td>
                                    <a href="{% url 'update-user' user.pk %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete-user' user.pk %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}